* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 24px;
}

header {
    background-color: #c4c4c4;
    border: 1px solid #808080;
    padding: 10px;
}

main {
    /* border:1px solid black; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 67vh;
    overflow-y: scroll;
}

.msg {
    width: 90%;
    border: 1px solid #808080;
    padding: 10px;
    margin-top: 10px;
}

/* Estilo botões */
.btns {
    width: 90%;

    /* border:1px solid orangered; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.btns button {
    border: none;
    padding: 5px;
    font-weight: 500;
}

.del {
    background-color: #f65d5d;
}

.edit {
    background-color: #f6a75d;
}

.del:hover,
.edit:hover {
    cursor: pointer;
}

/* Estilização Campo de nova mensagem */
.newmsg {
    width: 50vw;
    height: 25vh;
    border: 1px solid #808080;
    background-color: #c4c4c4;
    position: fixed;
    padding: 15px;
    bottom: 0px;
    left: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.newmsg textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #ababab;

}

.newmsg div {
    height: 90%;
    display: flex;
    /* border:1px solid olivedrab; */
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    ;
}

.send {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.send:hover {
    cursor: pointer;
}